gzip on;

server {
    listen 8080 ;
    listen [::]:8080;
    http2 on;

    root /var/www/docs;

    autoindex off;
    try_files $uri $uri.html $uri/index.html =404;
    open_file_cache          max=1000 inactive=300s;
    open_file_cache_errors   on;

    set $DEFAULT "default-src 'none' ;";
    set $SCRIPT "script-src 'unsafe-inline' 'self' https://buttons.github.io;";
    set $IMG "img-src 'self' ;";
    set $OBJECT "object-src 'none' ;";
    set $MEDIA "media-src 'self' ;";
    set $STYLE "style-src 'self' https://cdnjs.cloudflare.com;";
    set $FONT "font-src 'self' ;";
    set $CONNECT "connect-src 'none' ;";
    set $WORKER "worker-src 'none' ;";
    set $CHILD "child-src 'none' ;";
    set $FRAME "frame-src 'none' ;";
    set $ANCESTORS "frame-ancestors 'none' ;";
    set $FORM "form-action 'none' ;";
    set $BASE "base-uri 'none' ;";
    add_header Content-Security-Policy "${DEFAULT} ${SCRIPT} ${IMG} ${OBJECT} ${MEDIA} ${STYLE} ${FONT} ${CONNECT} ${WORKER} ${CHILD} ${FRAME} ${ANCESTORS} ${FORM} ${BASE}" always;

    add_header 'Access-Control-Allow-Origin' '*';
    add_header X-Frame-Options "SAMEORIGIN" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;
    add_header Cross-Origin-Opener-Policy "same-origin";
    add_header Referrer-Policy "strict-origin-when-cross-origin";
    add_header Permissions-Policy "display-capture=(), camera=(), microphone=(), geolocation=(), gyroscope=(), identity-credentials-get=(), otp-credentials=(), payment=(), storage-access=(), window-management=()";

    location ~ /\.ht {
        deny all;
    }
    location = /favicon.ico {
        log_not_found off; access_log off;
    }
    location = /robots.txt {
        log_not_found off; access_log off; allow all;
    }
    location ~* \.(css|gif|ico|jpeg|jpg|js|png|webp|svg|tiff|apng)$ {
        expires max;
        log_not_found off;
    }

    location /healthz {
        return 200 'hubs-docs ok';
        access_log off;
    }
}

